body, html {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("assets/background/wheat.jpg");
  background-size: 100%;
} 

.page {
  height: 100%;
  width: 100%;
  display: grid;

  grid-template-columns: auto 70% auto;
  grid-template-rows: auto 90% auto;
}

.app {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  display: grid;
  grid-template-columns: 75% 10px auto;

  background-color: #fff;

  padding: 15px;
  border-radius: 15px;
}

.app #calendar {
  font-family: sans-serif;

  width: 100%;
  height: 100%;
  
  display: grid;
  grid-template-rows: 1fr 1fr 5fr;
}

.app #calendar #head {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.app #calendar #days-of-week {
  
  display: grid;
  grid-template-columns: repeat(7, auto);
}

.app #calendar #days {
  display: grid;
  grid-template-columns: repeat(7, auto);

  padding: 1px;
}

.app #calendar #head #btn-prev, #btn-next {
  background-color: #fff;

  font-size: 2em;

  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.app #calendar #head #btn-prev:hover, #btn-next:hover {
  font-size: 2.1em;
  color: #88f;
}

.app #calendar #head #btn-prev:before {
  content: "\2039";
}

.app #calendar #head #btn-next:after {
  content: "\203A";
}

.app #calendar #head #btn-prev {

}

.app #calendar #head #btn-next {

}

.app #calendar #head #month   {
  
  font-size: 2em;

  grid-column-start: 2;
  grid-column-end: 3;

  display: flex;
  align-items: center;
  justify-content: center;
}

.app #calendar #days-of-week .day-of-week {

  font-size: 1.5em;

  display: flex;
  align-items: center;
  justify-content: center;
}

.app #calendar #days .prev-month, .curr-month, .next-month {

  font-size: 1.5em;
  cursor: pointer;
  transition: 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.app #calendar #days .prev-month:hover, .curr-month:hover, .next-month:hover {
  background-color: #ccc;
  color: #fff;
}

.app #calendar #days .prev-month, .next-month {
  color: #ccc;
}

.app #info {
  grid-column-start: 3;
  
  background-color: #88f;
}